<div class="users-container">
  <div class="actions-bar">
    <mat-form-field>
      <input
        matInput
        placeholder="Cercar usuaris..."
        [(ngModel)]="searchTerm"
        (keyup)="onSearch()"
      />
      <button mat-icon-button matSuffix *ngIf="searchTerm" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon> Nou Usuari
    </button>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="users">
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let user">{{ user.first_name }}</td>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef>Cognoms</th>
        <td mat-cell *matCellDef="let user">{{ user.last_name }}</td>
      </ng-container>

      <ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef>Is active</th>
        <td mat-cell *matCellDef="let user">{{ user.is_active ? '&#10003;' : '&#10005;' }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Accions</th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" (click)="openDialog(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="openClientDialog(user)">
            <mat-icon>group</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="viewTokens(user)">
            <mat-icon>lock</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser(user)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="totalUsers"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [showFirstLastButtons]="true"
      [pageIndex]="currentPage - 1"
      (page)="onPageChange($event)"
      aria-label="Selecciona pàgina d'usuaris"
    >
    </mat-paginator>
  </div>
</div>
